<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ site.Title }}</title>
    <meta name="description" content="{{ site.Params.Description }}">
    <meta name="author" content="Alex Stefanescu">

    <meta property="og:title" content="">
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:description" content="{{ site.Params.Description }}">
    <meta property="og:image" content="{{ "images/ogimage.png" | absURL }}">
    <meta property="og:locale" content="{{ site.LanguageCode }}" />

    <link rel="icon" href="{{ "images/favicon.ico" | absURL }}" />
    <link rel="apple-touch-icon" href="{{ "images/apple-touch-icon.png" | absURL }}" />

    <link rel="stylesheet" type="text/css" href="{{ "css/bulma.min.css" | relURL }}">
</head>